/* Filter and Sort bar */
.filterandsort-bar {
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid hsla(0, 0%, 39%, 0.2);
}

.filter-controls {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.filters {
  font: inherit;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--gray100);
  padding: 4px;
  background: transparent;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filters:hover {
  border-color: var(--gray700);
}

.filter-name {
  padding: 0 4px;
}

/* Sort button for filtering */
.sortmenu {
  position: relative;
}

/* sorting label */
.dropdown-trigger {
  display: flex;
  align-items: center;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  font: inherit;
  font-size: var(--fs-xsmall);
  background: transparent;
}

.dropdown-trigger-label {
  color: var(--gray500);
  font-weight: var(--fw-medium);
  position: absolute;
  top: -10px;
  left: 6px;
  scale: 0.8;
}

/* Content for dropdown */
.dropdown-menu {
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 10px 0 0 -1.8rem;
  position: absolute;
  z-index: 9;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
}

.sortmenu-items {
  padding: 0.6rem 1rem;
  margin: 4px;
}

.sortmenu-item {
  color: var(--gray700);
  cursor: pointer;
  line-height: 2.2;
}

.sortmenu-item:hover {
  color: var(--primary);
}

/* profile cards starts */
/* Card Container grid */
.card_wrapper-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 2rem;
  margin: 2rem 4rem;
}

.card_container {
  position: relative;
  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 300ms;
}

.card_container:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card_wrapper {
  border-radius: var(--radius);
}

.card_avatar {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.card_save {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: var(--fs-medium);
  color: var(--primary);
  opacity: 0;
  z-index: 1;
  transform: translateY(-30px);
  transition: opacity 0.3s, transform 0.3s;
}
.card_container:hover .card_save {
  opacity: 1;
  transform: translateY(0);
}

.card_body {
  margin-top: 0.5rem;
}

.card_name {
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
}

.card_niche {
  font-size: var(--fs-xsmall);
}

.card_location {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xsmall);
  color: var(--gray500);
}

.card_city {
  margin-left: 0.4rem;
}
