/* Filter and Sort bar */
.filterandsort-bar {
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid hsla(0, 0%, 39%, 0.2);
}

.filter-controls {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.filters {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--gray100);
  padding: 4px;
  background: transparent;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filters:hover {
  border-color: var(--gray700);
}

.filter-name {
  padding: 0 4px;
}

/* Sort button for filtering */
.sortmenu {
  position: relative;
}

/* sorting label */
.dropdown-trigger {
  display: flex;
  align-items: center;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  font-size: var(--fs-xsmall);
  background: transparent;
}

.dropdown-trigger-label {
  color: var(--gray500);
  font-size: var(--fs-xsmall);
  font-weight: var(--fw-medium);
  position: absolute;
  top: -10px;
  left: 6px;
  scale: 0.8;
}

/* Content for dropdown */
.dropdown-menu {
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 10px 0 0 -1.8rem;
  position: absolute;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
}

.sortmenu-items {
  padding: 0.6rem 1rem;
  margin: 4px;
}

.sortmenu-item {
  color: var(--gray700);
  cursor: pointer;
  line-height: 2.2;
}

.sortmenu-item:hover {
  color: var(--primary);
}

/* {rofile cards starts */
/* Card Container grid */
.container-grid {
  margin: 2rem;
  display: grid;
}

/* Profile card */
.profile-card {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 250px;
  border-radius: var(--radius);
  padding: 0.8rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-save {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: var(--fs-medium);
}

.card-image {
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.card-name {
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
}

.card-profession {
  margin-bottom: 0.5rem;
  font-size: var(--fs-xsmall);
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xsmall);
  color: var(--gray500);
}

.card-city {
  margin-left: 0.4rem;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--gray700);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-link:hover,
.social-link:focus {
  scale: 1.5;
}
