.button__white {
  font-family: "Public Sans", sans-serif;
  font-size: var(--font-sm);
  background-color: var(--white);
  padding: 0 0.8rem;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s;
}
.button__blue {
  font-family: "Public Sans", sans-serif;
  font-size: var(--font-sm);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 0 0.8rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s;
}

.button__white:hover {
  color: var(--gray700);
}

.button__blue:hover {
  box-shadow: 0 4px 10px var(--primary);
}
