.button__white {
  font-family: "Public Sans", sans-serif;
  font-size: var(--font-sm);
  background-color: var(--white);
  padding: 0 1.5rem;
  border: 1px solid var(--gray100);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.button__blue {
  font-family: "Public Sans", sans-serif;
  font-size: var(--font-sm);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.button__white,
.button__blue:hover {
  opacity: 0.8;
}
