/* Login modal Styles starts */
/* Background styles */
.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  display: grid;
  place-items: center;
  z-index: 1;
}
/* modal content styles */
.modal__content {
  position: relative;
  background-color: var(--white);
  border-radius: var(--radius);
  width: 20%;
  min-width: 300px;
  padding: 0.5rem;
}

/* heading for login,signup and forgot password */
.modal__content > h1 {
  text-align: center;
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
  margin: 1rem;
}

/* close button for login, signup and forgot password */
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: var(--fs-big);
  color: var(--gray700);
  cursor: pointer;
}

.modal__content > form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
}

/* login input and label container */
.input-container {
  position: relative;
  width: 100%;
}

.input-container:nth-child(2) {
  margin-top: 2rem;
}

/* styles for email input field and label */
.input-container .email-input {
  font-size: var(--fs-small);
  width: 100%;
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
}
.input-container .email-input:focus {
  border-color: var(--primary);
}

.input-container .email-label {
  position: absolute;
  font-size: var(--fs-medium);
  color: var(--gray500);
  background-color: var(--white);
  left: 0.6rem;
  top: 0.6rem;
  padding: 0 0.2rem;
  cursor: text;
  z-index: 1;
  transition: all 0.3s;
}

/* Styles for password input field and label */
.input-container .pass-input {
  font-size: var(--fs-small);
  width: 100%;
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
}
.input-container .pass-input:focus {
  border-color: var(--primary);
}

.input-container .pass-label {
  position: absolute;
  font-size: var(--fs-medium);
  color: var(--gray500);
  background-color: var(--white);
  left: 0.6rem;
  top: 0.6rem;
  padding: 0 0.2rem;
  cursor: text;
  transition: all 0.3s;
}

/* password eye icon for both login and signup*/
.fieye {
  position: absolute;
  font-size: var(--fs-medium);
  top: 1rem;
  right: 1rem;
  color: var(--gray500);
  cursor: pointer;
}

/* animation for labels in login email input field  */
.email-input:focus ~ .email-label,
.email-input:not(:placeholder-shown).email-input:not(:focus) ~ .email-label {
  top: -0.7rem;
  font-size: var(--fs-small);
  color: var(--primary);
}
/* animation for labels in login password input field  */
.pass-input:focus ~ .pass-label,
.pass-input:not(:placeholder-shown).pass-input:not(:focus) ~ .pass-label {
  top: -0.7rem;
  font-size: var(--font-sm);
  color: var(--primary);
}

/* forgot password link */
.forgotpass {
  text-align: end;
  font-size: var(--fs-xsmall);
  color: var(--gray500);
  cursor: pointer;
}
.forgotpass:hover {
  color: var(--gray700);
}
/* Login and Signup CTA button */
.ctabtn {
  margin: 1rem auto;
}

/* container for google login in login and signup */
.gcontainer {
  width: 100%;
  border-top: 1px solid var(--gray100);
  border-bottom: 1px solid var(--gray100);
}
/* google login for login and signup button */
.gcontainer .gbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0.8rem auto;
  border-radius: var(--radius);
  background-color: #4286f5;
  cursor: pointer;
}

.gcontainer .gbox > img {
  height: 30px;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: var(--white);
}

.gcontainer .gbox > span {
  color: var(--white);
  font-weight: var(--fw-medium);
  padding-left: 1rem;
}

/* not eryka user signup link styles */
.signuplink {
  font-size: var(--fs-xsmall);
  text-align: center;
  color: var(--gray500);
}

.signuplink > span {
  font-size: var(--fs-small);
  color: var(--primary);
  cursor: pointer;
}

/* SIGN UP */
/* SignUp modal Styles starts from here */
/* signup input and label container */
.s_input-container {
  position: relative;
  width: 100%;
}

.s_input-container:not(:first-child) {
  margin-top: 2rem;
}

/* styles for fullname input field and label  */
.s_input-container .fname-input {
  font-size: var(--fs-small);
  width: 100%;
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
}
.s_input-container .fname-input:focus {
  border-color: var(--primary);
}
.s_input-container .fname-label {
  position: absolute;
  font-size: var(--fs-medium);
  color: var(--gray500);
  background-color: var(--white);
  left: 0.6rem;
  top: 0.6rem;
  padding: 0 0.2rem;
  cursor: text;
  z-index: 1;
  transition: all 0.3s;
}

/* styles for email input field and label */
.s_input-container .signemail-input {
  font-size: var(--fs-small);
  width: 100%;
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
}
.s_input-container .signemail-input:focus {
  border-color: var(--primary);
}

.s_input-container .signemail-label {
  position: absolute;
  font-size: var(--fs-medium);
  color: var(--gray500);
  background-color: var(--white);
  left: 0.6rem;
  top: 0.6rem;
  padding: 0 0.2rem;
  cursor: text;
  z-index: 1;
  transition: all 0.3s;
}

/* Styles for password input field and label */
.s_input-container .signpass-input {
  font-size: var(--fs-small);
  width: 100%;
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
}
.s_input-container .signpass-input:focus {
  border-color: var(--primary);
}

.s_input-container .signpass-label {
  position: absolute;
  font-size: var(--fs-medium);
  color: var(--gray500);
  background-color: var(--white);
  left: 0.6rem;
  top: 0.6rem;
  padding: 0 0.2rem;
  cursor: text;
  z-index: 1;
  transition: all 0.3s;
}

/* animation for labels in signup fullname input field  */
.fname-input:focus ~ .fname-label,
.fname-input:not(:placeholder-shown).fname-input:not(:focus) ~ .fname-label {
  top: -0.7rem;
  font-size: var(--fs-small);
  color: var(--primary);
}
/* animation for labels in signup email input field  */
.signemail-input:focus ~ .signemail-label,
.signemail-input:not(:placeholder-shown).signemail-input:not(:focus)
  ~ .signemail-label {
  top: -0.7rem;
  font-size: var(--fs-small);
  color: var(--primary);
}
/* animation for labels in signup password input field  */
.signpass-input:focus ~ .signpass-label,
.signpass-input:not(:placeholder-shown).signpass-input:not(:focus)
  ~ .signpass-label {
  top: -0.7rem;
  font-size: var(--fs-small);
  color: var(--primary);
}

/* Signup policy terms */
.s_policy {
  color: var(--gray500);
  font-size: var(--fs-xsmall);
  text-align: center;
}

/* already eryka user login link styles */
.loginlink {
  font-size: var(--fs-xsmall);
  text-align: center;
  color: var(--gray500);
  margin-top: var(--fs-xsmall);
}

.loginlink > span {
  font-size: var(--fs-small);
  color: var(--primary);
  cursor: pointer;
}
