.header {
  margin: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  height: 50px;
}

.header__searchbar {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid var(--gray100);
  border-radius: var(--radius);
}

.fas {
  padding: 0 0.5rem;
  color: var(--gray100);
}
input {
  flex: 1;
  font-family: "Public Sans", sans-serif;
  font-size: var(--font-sm);
  line-height: 2.5rem;
  border-radius: var(--radius);
  border: none;
  outline: none;
}

.header__buttons {
  display: flex;
  gap: 1.5rem;
}
