.header {
  margin: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__searchbar {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid gray;
  border-radius: 10px;
}

.fas {
  padding: 0 0.5rem;
  color: gray;
}
input {
  flex: 1;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  line-height: 2.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.header__search::placeholder {
  color: rgb(119, 118, 118);
  font-size: 15px;
  font-weight: 400;
}

.header__searchbar:focus {
  outline: none;
}

.header__buttons {
  display: flex;
  gap: 15px;
}
