.navBar {
  border-top: 1px solid var(--gray100);
  border-bottom: 1px solid var(--gray100);
  font-size: var(--font-md);
}

.navBar__items {
  display: flex;
  justify-content: space-evenly;
}

.navBar__item {
  position: relative;
  color: var(--black);
  padding: var(--font-sm) 0;
  text-decoration: none;
  border: none;
  transition: color 0.3s ease-in-out;
}

.navBar__item::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  background-color: var(--primary);
  opacity: 0;
  transition: color 0.5s ease-in-out;
}

.navBar__item:hover::before,
.navBar__item.active::before {
  opacity: 1;
}
