.navBar {
  border-top: 1px solid var(--gray100);
  border-bottom: 1px solid var(--gray100);
}

.navBar__items {
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  display: flex;
  justify-content: space-evenly;
}

.navBar__item {
  position: relative;
  padding: 0.8rem 0;
}

.navBar__item::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  background-color: var(--primary);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.navBar__item:hover::before,
.navBar__item.active::before {
  opacity: 1;
}
