.Footer {
    width: 100%;
    border-top: 1px solid black;
    margin: 2rem 0;
    text-align: center;
  }
  
  .Footer-copyright {
    padding-top: 1rem;
  }
  
  .FSocial-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 10rem;
    margin: 1rem auto;
  }