.Footer {
  background-color: hsl(0, 0%, 50%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  margin-top: auto;
}

.Footer-copyright {
  color: var(--gray500);
}

.FSocial-icons {
  font-size: var(--fs-medium);
  display: flex;
  align-items: center;
  gap: 1rem;
}
