.Footer{
    border-top: 1px solid black;
    margin: 30px;
    text-align: center;
    padding-top: 20px; 
}

.Footer>a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
}